// Place all the styles related to the PAGES::Reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.col{
    margin-left: 60px;
    margin-right: 40px;
}
.dep{
    margin-left: 40px;
    margin-right: 40px;
}
.stu{
    margin-left: 40px;
    margin-right: 40px;
}